<div class="row mt-3">
  <div class="col-10">

    <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/study-programs/', studyProgramsId, 'preview', 'groups']">
      <i class="fa fa-chevron-left pr-1"></i><span [translate]="'StudyPrograms.BackToList'"></span>
    </a>
  </div>
  <div class="col-2 ml-auto text-lg-right">
    <ul class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="dropdown mr-2">
          <button class="btn btn-outline-indigo dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span [translate]="'StudyPrograms.SelectGroup'"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let item of programGroups" class="dropdown-item" [routerLink]="['/study-programs/', studyProgramsId, 'preview', 'groups', item.id ]" >{{item.name | translate}}</a>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>

<div class="row mt-4" >
  <div class="col-lg-8 col-md-7 col-12">
    <app-group-courses-details></app-group-courses-details>
  </div>
  <div class="col-lg-4 col-md-5 col-12">
    <app-groups-courses-general></app-groups-courses-general>
  </div>
</div>


