<div *ngIf="student && student.studentStatus && student.studentStatus.alternateName==='graduated'">
  <div class="row mb-2">
    <div class="col">
      <a [routerLink]="[{outlets: {modal: ['graduation-edit']}}]" style="cursor: pointer;" class="text-primary d-inline-block float-right">{{'Students.Edit' | translate}}</a>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationGrade'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.graduationGradeAdjusted}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationNumber'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student.graduationNumber}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationTitle'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.graduationTitle}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationYear'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.graduationYear?.alternateName}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationPeriod'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.graduationPeriod?.locale?.name}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationDate'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.graduationDate | date : 'shortDate'}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.DeclaredDate'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.declaredDate | date : 'shortDate'}}</span>
    </div>
  </div>
  <div *ngIf="student?.user?.name" class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.UserName'"></span>
    </div>
    <div class="col-7 text-dark">
      <a href="#/users/{{student?.user?.id}}/dashboard/overview">{{student?.user.name}}</a>
    </div>
  </div>
</div>

<div *ngIf="student && student.studentStatus && student.studentStatus.alternateName==='declared'">
  <div class="d-flex justify-content-between mb-3">
    <h6 [translate]="'Students.DeclaredInfo'" class="mr-3 my-auto"></h6>
    <ng-container *ngIf="student.declaredInfo">
      <a [routerLink]="['.', { outlets:{ modal:'declarations/' + student.declaredInfo.id  + '/edit'} }]" style="cursor: pointer;" class="text-primary d-inline-block float-right">{{'Students.Edit' | translate}}</a>
    </ng-container>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationGrade'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.declaredInfo?.graduationGradeAdjusted}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.AcademicYear'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.declaredInfo?.declaredYear?.alternateName}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.AcademicPeriod'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{'Periods.' + student?.declaredInfo?.declaredPeriod?.alternateName | translate}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.DeclaredDate'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.declaredInfo?.declaredDate | date : 'shortDate'}}</span>
    </div>
  </div>
  <div *ngIf="student?.user?.name"  class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.UserName'"></span>
    </div>
    <div class="col-7 text-dark">
      <a href="#/users/{{student?.user?.id}}/dashboard/overview">{{student?.user.name}}</a>
    </div>
  </div>
</div>
