<div class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.StudentID'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.studentIdentifier}}</span>
    </div>
</div>
<div *ngIf="student?.user?.name" class="form-group row mb-1">
  <div class="col-5">
    <span [translate]="'Students.UserName'"></span>
  </div>
  <div class="col-7 text-dark">
    <a href="#/users/{{student?.user?.id}}/dashboard/overview">{{student?.user.name}}</a>
  </div>
</div>
<div *if-location="'/students/semester'" class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.Semester'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.semester}}</span>
    </div>
</div>
<div *if-location="'/students/department'" class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.Department'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.department?.abbreviation}}</span>
    </div>
</div>
<div class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.studyProgram'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.studyProgram?.locale?.name || student?.studyProgram?.name}}</span>
    </div>
</div>
<div *if-location="'/students/specialization'" class="form-group row mb-1">
  <div class="col-5">
    <span [translate]="'Students.Specialty'"></span>
  </div>
  <div class="col-7 text-dark">
    <span>{{student?.studyProgramSpecialty?.abbreviation || student?.studyProgramSpecialty?.name}}</span>
  </div>
</div>
<div class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.inscriptionYear'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.inscriptionYear?.alternateName}}
            {{student?.inscriptionPeriod?.locale?.name}}</span>
    </div>
</div>
