<ul class="sis--list-group sis--list-group-header">
  <li class="sis--list-group-item">
    <div class="font-lg d-flex justify-content-center align-items-center text-gray-500">
      <div class="sis--list-group-item_lg_column" [translate]="'Exams.Submitted'"></div>
      <div class="text-left sis--list-group-item_md_column d-none d-md-block" [translate]="'Exams.DocumentCode'"></div>
      <div class="sis--list-group-item_md_column d-none d-lg-block" *ngIf="useDigitalSignature == true" [translate]="'Exams.DigitalSignature'"></div>
      <div class="sis--list-group-item_md_column d-none d-xl-block" [translate]="'Exams.SubmittedGrades'"></div>
      <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Students.Status'"></div>
    </div>
  </li>
</ul>
<ul class="sis--list-group sis--list-group-body">
  <div class="sis--list-group-item border-0">
    <div class="font-lg d-flex justify-content-center align-items-center list-color">
      <div class="sis--list-group-item_lg_column">{{exams.dateCreated | localizedDate:'medium' }}</div>
      <div class="text-truncate sis--list-group-item_md_column d-none d-md-block">{{exams.code}}</div>
      <div *ngIf="useDigitalSignature == true" class="sis--list-group-item_md_column d-none d-lg-block">
        <span>
          <span class="fa fa-check" style="color:green">
           &nbsp;</span>
            <span [translate]="'Exams.SuccessfulCheck'">
            </span>
        </span>
      </div>
      <div class="sis--list-group-item_md_column d-none d-xl-block">{{exams.grades.length !== 0 && exams?.grades[0]?.totalCount || '-'}}
        <a [routerLink]="['/exams', exams?.object, 'dashboard', 'grading', exams.id]" *ngIf="exams.grades.length !== 0" class="text-primary my-auto my-auto">({{'Exams.Show' | translate}})</a>
      </div>
      <div class="sis--list-group-item_sm_column">
        <span [ngClass]="{'text-purple': exams.actionStatus.alternateName ==='ActiveActionStatus',
                          'text-danger': exams.actionStatus.alternateName === 'CancelledActionStatus',
                          'text-decoration-none': exams.actionStatus.alternateName ==='CompletedActionStatus'}">
                        {{'ActionStatusTypes.' + exams.actionStatus.alternateName | translate}}
        </span>
      </div>
    </div>
  </div>
</ul>
