<form  class="mt-3 collapsible-form">
    <div class="row">
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="id" [translate]="'Internships.Id'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text" [value]="model.id">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="department" [translate]="'Internships.Department'"></label>
                <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text" [value]="model.department?.name">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="status" [translate]="'Internships.InternshipYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" [value]="model.internshipYear?.id">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="internshipPeriod" [translate]="'Internships.InternshipPeriodAlternateName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="internshipPeriod" name="internshipPeriod" type="text" [value]="'Periods.' + model.internshipPeriod?.alternateName | translate">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="company" [translate]="'Internships.Company'"></label>
                <input [disabled]="true" class="form-control bg-white" id="company" name="company" type="text" [value]="model.company.name">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="CompanyContact" [translate]="'Internships.CompanyContact'"></label>
                <input [disabled]="true" class="form-control bg-white" id="companyContact" name="companyContact" type="text" [value]="model.companyContact">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="companyContactPhone" [translate]="'Internships.CompanyContactPhone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="companyContactPhone" name="companyContactPhone" type="text" [value]="model.companyContactPhone">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="startDate" [translate]="'Internships.StartDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="startDate" name="startDate" type="text" [value]="model.startDate | date : 'shortDate'">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="dateCompleted" [translate]="'Internships.DateCompleted'"></label>
                <input [disabled]="true" class="form-control bg-white" id="dateCompleted" name="dateCompleted" type="text" [value]="model.dateCompleted | date : 'shortDate'">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="status" [translate]="'Internships.Status'"></label>
                <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" [value]="'InternshipStatus.' + model.status?.alternateName | translate">
            </div>
        </div>
    </div>
</form>
