<div *ngIf="courseExamAction">
  <div class="row mt-3">
    <div class="col-12">
      <a class="text-secondary nav-link pl-0 font-lg" [queryParams]="referrerRoute.queryParams" [routerLink]="referrerRoute.commands">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Exams.BackToList'"></span>
      </a>
    </div>
  </div>

  <div class="row mt-3">
    <div *ngIf="courseExamAction.owner.id" class="col-12 col-md-12 col-lg-7">
      <span class="font-4xl">{{instructor?.familyName}} {{instructor?.givenName}}</span>
      <div class="font-lg">({{courseExamAction.owner.name}})</div>
    </div>
    <div class="col-12 col-md-12 col-lg-5 text-lg-right mt-3 mt-lg-0">
      <div class="d-block font-lg font-weight-bold text-gray-600">
        <span [translate]="'Exams.Submitted'"></span>
      </div>
      <div class="d-block font-lg">
        {{ courseExamAction?.dateCreated | date:'short' }}
      </div>
      <ng-container *ngIf="useDigitalSignature">
        <div class="d-block font-lg font-weight-bold text-gray-600 pt-3">
          <span [translate]="'Exams.DigitalSignature'"></span>
        </div>
        <ng-container>
          <div class="d-block font-lg">
            <!-- an x-like icon should be added below for not valid signatureStatus-->
            <span *ngIf="digitalSignatureStatus != null"><i [ngClass]="{
              'fa fa-check mr-2 text-success font-xl': digitalSignatureStatus === 'valid' 
            }"></i><span [ngClass]="{
              'font-weight-bold text-success': digitalSignatureStatus === 'valid' 
            }"[translate]="digitalSignatureControl[digitalSignatureStatus]"></span><button *ngIf="digitalSignatureStatus && digitalSignatureStatus === 'cannotBeDetermined'" class="btn btn-sm border-0" [tooltip]="tooltipTemplate" placement="left" style="cursor: default"><i class="fas fa-info-circle font-xl text-primary"></i></button></span>
          </div>
      </ng-container> 
    </ng-container>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-7">
      <div class="d-block">
        <h5 class="mb-0 text-truncate">{{courseExamAction?.object?.name}}</h5>
      </div>
      <div class="d-block font-lg text-secondary">
        <span [translate]="'Exams.ExamPeriod'"></span> - {{courseExamAction?.object?.examPeriod?.name}} {{courseExamAction?.object?.year?.alternateName}}
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-5 text-lg-right mt-3 mt-lg-0">
      <div class="d-block font-lg font-weight-bold text-gray-600">
        <span [translate]="'Exams.UploadNumber'"></span>
      </div>
      <span class="d-block font-lg">
        <span class="text-truncate">{{courseExamAction?.code}}</span>
      </span>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-7">

      <div class="row mt-1">
        <div class="col-12">
          <span class="text-secondary mr-3" *ngFor="let courseClass of courseExamAction?.object.classes ">
            <i class="fa fa-graduation-cap pr-1"></i>
              {{ "Periods." +courseClass?.courseClass?.period?.alternateName | translate}} {{ courseClass?.courseClass?.year?.alternateName }}
          </span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12">
          <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{courseExamAction?.object?.course?.displayCode}}</span>
          <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{ 'Exams.Units' | translate }}: {{courseExamAction?.object?.course?.units}}  {{ 'Exams.ECTS' | translate }}: {{courseExamAction?.object?.course?.ects}}</span>
        </div>
      </div>
      <div class="row mt-3">
      <div class="col-12" *ngIf="courseExamAction.actionResult">
        <!-- ensure that older implementation is still displayed correctly -->
        <ng-container *ngIf="courseExamAction.actionResult.additionalType === 'ExamDocumentUploadAction'" >
          <div *ngIf="courseExamAction.actionResult.actionStatus.alternateName==='CompletedActionStatus'" class="d-block font-lg text-success">
            <span [translate]="'Exams.AcceptGrades.title'"></span>
          </div>
          <div *ngIf="courseExamAction.actionResult.actionStatus.alternateName!=='CompletedActionStatus'" class="d-block font-lg text-danger">
            <span [translate]="'Exams.RejectGrades.title'"></span>
          </div>
        </ng-container>
        <!-- start new implementation display -->
        <ng-container *ngIf="courseExamAction.actionResult?.additionalType === 'RejectAction'">
          <!-- if the action result comes from rejecting, cover the four potential statuses -->
          <div *ngIf="courseExamAction.actionResult.actionStatus?.alternateName === 'CompletedActionStatus'" class="d-block font-lg font-weight-bold text-indigo">
            <span [translate]="'Exams.RejectAction.SuccessfulCompletion'"></span>
          </div>
          <div *ngIf="courseExamAction.actionResult.actionStatus?.alternateName === 'FailedActionStatus'">
            <span class="d-block font-lg text-danger" [translate]="'Exams.RejectAction.FailedCompletion'"></span>
            <div class="d-block text-gray font-md" *ngIf="courseExamAction.actionResult.description">
              <span> {{'Exams.RejectAction.ErrorTitle' | translate}}: {{courseExamAction.actionResult.description}}</span>
            </div>
          </div>
          <div *ngIf="courseExamAction.actionResult.actionStatus?.alternateName === 'ActiveActionStatus'">
            <span class="d-block font-lg font-weight-bold text-theme" [translate]="'Exams.RejectAction.ActionInProgress'"></span>
            <span *ngIf="this.showCancelAction" class="d-block text-gray font-md">{{'Exams.RejectAction.CancelAction.Tooltip' | translate }} 
              <a class="text-primary" href="javascript:void(0)" (click)="cancelChangeStatusAction('RejectActions')">{{ 'Exams.RejectAction.CancelAction.Anchor' | translate }}</a> {{'Exams.RejectAction.CancelAction.Next' | translate}}</span>
          </div>
          <div *ngIf="courseExamAction.actionResult.actionStatus?.alternateName === 'CancelledActionStatus'" class="d-block font-lg text-indigo">
            <span [translate]="'Exams.RejectAction.CancelledByTheUser'"></span>
          </div>
        </ng-container>
        <ng-container *ngIf="courseExamAction.actionResult?.additionalType === 'AcceptAction'">
          <!-- same as above for AcceptAction -->
          <div *ngIf="courseExamAction.actionResult.actionStatus?.alternateName === 'CompletedActionStatus'" class="d-block font-lg font-weight-bold text-success">
            <span [translate]="'Exams.AcceptAction.SuccessfulCompletion'"></span>
          </div>
          <div *ngIf="courseExamAction.actionResult.actionStatus?.alternateName === 'FailedActionStatus'">
            <span class="d-block font-lg text-danger" [translate]="'Exams.AcceptAction.FailedCompletion'"></span>
            <div class="d-block text-gray font-md" *ngIf="courseExamAction.actionResult.description">
              <span> {{'Exams.AcceptAction.ErrorTitle' | translate}}: {{courseExamAction.actionResult.description}}</span>
            </div>
          </div>
          <div *ngIf="courseExamAction.actionResult.actionStatus?.alternateName === 'ActiveActionStatus'">
            <span class="d-block font-lg font-weight-bold text-theme" [translate]="'Exams.AcceptAction.ActionInProgress'"></span>
            <span *ngIf="this.showCancelAction" class="d-block text-gray font-md">{{'Exams.AcceptAction.CancelAction.Tooltip' | translate }}
              <a class="text-primary" href="javascript:void(0)" (click)="cancelChangeStatusAction('AcceptActions')">{{ 'Exams.AcceptAction.CancelAction.Anchor' | translate }}</a> {{'Exams.AcceptAction.CancelAction.Next' | translate}}</span>
          </div>
          <div *ngIf="courseExamAction.actionResult.actionStatus?.alternateName === 'CancelledActionStatus'" class="d-block font-lg text-indigo">
            <span [translate]="'Exams.AcceptAction.CancelledByTheUser'"></span>
          </div>
        </ng-container>
        <div class="d-block font-lg">
          {{ courseExamAction?.actionResult.dateCreated | date:'short' }}, {{courseExamAction.actionResult.createdBy.alternateName}}
        </div>
      </div>
      </div>

    </div>
    <div class="col-12 col-md-12 col-lg-5 text-lg-right mt-3 mt-lg-0">
      <div class="d-block font-lg font-weight-bold text-gray-600">
        <span [translate]="'Exams.Attachment'"></span>
      </div>
      <ng-container *ngIf="courseExamAction.attachments && courseExamAction.attachments[0]">
        <span class="d-block font-lg">
          <span>
            <a class="font-sm" href="javascript:void(0)" (click)="attachedGrades(courseExamAction.attachments)">{{courseExamAction.attachments[0].name}}</a>
          </span>
        </span>
        <ng-container *ngIf="useDigitalSignature">
          <button type="button" class="btn btn-indigo pull-right mt-3" (click)="verifySignatures()">{{ 'Exams.VerifyDigitalSignature' | translate }}</button>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 ">
      <span class="border-bottom d-block"></span>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 ">
      <span class="d-block font-lg"><span
        [translate]="'Exams.TotalGrades'"></span> : {{courseExamAction?.grades.length}}<span *ngIf="this.showFailed">, {{'Exams.FailedGrades' | translate}}: {{this.failedGrades.length}}</span></span>
      <div class="mt-3 text-center" *ngIf="courseExamAction.actionStatus && courseExamAction.actionStatus.alternateName==='ActiveActionStatus'">
        <div class="btn-group-md" role="group">
          <button [disabled] = "courseExamAction.actionResult && courseExamAction.actionResult.actionStatus
           && courseExamAction.actionResult.actionStatus.alternateName === 'ActiveActionStatus'"
           type="button" class="btn btn-outline-danger mx-3 px-5" [translate]="'Exams.Reject'" (click)="changeStatus('reject')"></button>
          <button [disabled]="(digitalSignatureStatus && (digitalSignatureStatus === 'invalid' || digitalSignatureStatus==='noSignature'))
           || (courseExamAction.actionResult && courseExamAction.actionResult.actionStatus && courseExamAction.actionResult.actionStatus.alternateName === 'ActiveActionStatus')" 
           type="button" class="btn btn-success mx-3 px-5 mt-3 mt-sm-0" [translate]="'Exams.Approve'" (click)="changeStatus('approve')"></button>
        </div>
      </div>
      <ng-container *ngIf = "courseExamAction?.grades.length > 0">
        <div class="row p-3">
          <div class="col-12" [ngVar]="{}" #filter="ngVar">
            <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="grades" [allowSave]="false">
              <advanced-search>
                <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
              </advanced-search>
            </app-advanced-table-search>
            <div *ngIf="this.showFailed" class="mt-2 alert alert-dismissible alert-warning shadow fade show">
              <div [translate]="'Exams.FailedGradesInfo'"></div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button></div>
          </div>
        </div>
      </ng-container>
      <div class="col-12 mb-4">
        <app-advanced-table #grades></app-advanced-table>
      </div>
    </div>
  </div>
  <ng-template #tooltipTemplate>
    <div class="row">
      <div class="text-dark font-lg col-12 mx-auto my-auto">{{'Exams.DigitalSignatureControl.NotDeterminedInfo' | translate}}</div>
    </div>
  </ng-template>
</div>

