<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex">
    <li class="nav-item tab-brand disabled">
      <a class="nav-link disabled" href="javascript:void(0)"
         [translate]="'Courses.Title'"></a>
    </li>
    <ng-container *ngFor="let item of activePaths">
      <li class="nav-item">
        <a class="nav-link" [translate]="item.name"
           [routerLink]="[item.alternateName]" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"></a>
      </li>
    </ng-container>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="dropdown mr-2">
          <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="text-dots"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let item of paths" class="dropdown-item" [routerLink]="[ item.alternateName ]" >{{item.name | translate}}</a>
          </div>
        </div>
        <div class="btn-group px-2" *if-location="'/courses/create/new'">
          <button type="button" class="btn btn-outline-indigo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" [translate]="'Courses.New'"></button>
          <div class="dropdown-menu">
            <ng-container >
              <button class="dropdown-item pointer-event" style="padding: 5px 8px">
                <a class="dropdown-item" [routerLink]="['create/new']" [queryParams]="{continue:'/courses/${id}/dashboard/overview'}"
                   [translate]="'Courses.NewSimple'">
                </a>
              </button>
              <button class="dropdown-item pointer-event" style="padding: 5px 8px">
                <a class="dropdown-item" [routerLink]="['create/newComplex']" [queryParams]="{continue:'/courses/${id}/dashboard/overview'}"
                   [translate]="'Courses.NewComplex'">
                </a>
              </button>
            </ng-container>
          </div>
        </div>
<!--        <div class="btn-group mr-2" role="group">
          <a type="button" class="btn btn-light pl-5 pr-5"
             [routerLink]="['create/new']" [queryParams]="{continue:'/courses/${id}/dashboard/overview'}"
             [translate]="'Courses.New'">
          </a>
        </div>-->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-success pl-5 pr-5 universis-btn-export"
                  [translate]="'Courses.Export'">Action</button>
        </div>
      </div>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
