<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [showMore]="false" [table]="timetableevents">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
            [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto pt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'StudyPrograms.TimetableEvents'"></span><span
          class="font-xl text-secondary"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'StudyPrograms.TimetableEvent'"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [selectable]="false" #timetableevents [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>