<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.InscriptionInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionYear" [translate]="'Students.inscriptionYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionYear" name="inscriptionYear"
                       type="text" [value]="model?.inscriptionYear?.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionPeriod" [translate]="'Students.inscriptionPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionPeriod" name="inscriptionPeriod"
                       type="text" [value]="model?.inscriptionPeriod?.locale?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionMode" [translate]="'Students.InscriptionMode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionMode" name="inscriptionMode" type="text"
                       [value]="model?.inscriptionMode?.name">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model && (model.studentStatus.alternateName === 'graduated' || model.studentStatus.alternateName === 'declared')">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.GraduationInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationYear" [translate]="'Students.GraduationYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationYear" name="graduationYear"
                       type="text" [value]="model?.graduationYear?.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationPeriod" [translate]="'Students.GraduationPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationPeriod" name="graduationPeriod"
                       type="text" [value]="model?.graduationPeriod?.locale.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationDate" [translate]="'Students.GraduationDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationDate" name="graduationDate" type="text"
                       [value]="model?.graduationDate| date:'dd/MM/yyyy'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationTitle" [translate]="'Students.GraduationTitle'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationTitle" name="graduationTitle" type="text"
                       [value]="model?.graduationTitle" >
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationNumber" [translate]="'Students.GraduationNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationNumber" name="graduationNumber" type="text"
                       [value]="model.graduationNumber">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationGrade" [translate]="'Students.GraduationGrade'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationGrade" name="graduationGrade" type="text"
                       [value]="model?.graduationGradeAdjusted">
              </div>
            </div>
            <div class="col-3" *ngIf="model.hasOwnProperty('graduationType') && model.graduationType != null">
              <div class="form-group text-dark">
                <label for="graduationType" [translate]="'Students.GraduationType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationType" name="graduationType" type="text"
                       [value]="model?.graduationType?.name">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.lastObligationDate">
              <div class="form-group text-dark">
                <label for="lastObligationDate" [translate]="'Students.LastObligationDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="lastObligationDate" name="lastObligationDate" type="text"
                       [value]="model?.lastObligationDate | date: 'dd/MM/yyyy'">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model && model.studentStatus.alternateName === 'suspended'">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.SuspensionInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionYear" [translate]="'Students.SuspensionYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionYear" name="suspensionYear"
                       type="text" [value]="model?.suspensionDetails?.suspensionYear?.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionPeriod" [translate]="'Students.SuspensionPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionPeriod" name="suspensionPeriod"
                       type="text" [value]="'Periods.' + model?.suspensionDetails?.suspensionPeriod?.alternateName | translate ">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionDate" [translate]="'Students.SuspensionDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionDate" name="suspensionDate" type="text"
                       [value]="model?.suspensionDetails?.suspensionDate| date:'dd/MM/yyyy'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionPeriods" [translate]="'Students.SuspensionPeriods'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionPeriods" name="suspensionPeriod" type="text"
                       [value]="model?.suspensionDetails?.suspensionPeriods" >
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionProtocolNumber" [translate]="'Students.SuspensionProtocolNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionProtocolNumber" name="suspensionProtocolNumber" type="text"
                       [value]="model?.suspensionDetails?.suspensionProtocolNumber || '-'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionType" [translate]="'Students.SuspensionType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionType" name="suspensionType" type="text"
                       [value]="model?.suspensionDetails?.suspensionType || '-'">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationYear" [translate]="'Students.ReintegrationYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationYear" name="reintegrationYear" type="text"
                       [value]="model?.suspensionDetails?.reintegrationYear?.alternateName">
              </div>
            </div>
            <div class="col-3"  *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationPeriod" [translate]="'Students.ReintegrationPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationPeriod" name="suspensionPeriod"
                       type="text" [value]="'Periods.' + model?.suspensionDetails?.reintegrationPeriod?.alternateName | translate ">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationSemester" [translate]="'Students.ReintegrationSemester'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationSemester" name="reintegrationSemester" type="text"
                       [value]="model?.suspensionDetails?.reintegrationSemester | semester">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationType" [translate]="'Students.ReintegrationType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationType" name="reintegrationType" type="text"
                       [value]="model?.suspensionDetails?.reintegrationType || '-'">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationProtocolNumber" [translate]="'Students.ReintegrationProtocolNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationProtocolNumber" name="reintegrationProtocolNumber" type="text"
                       [value]="model?.suspensionDetails?.reintegrationProtocolNumber || '-'">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model && (model.studentStatus.alternateName === 'removed' || model.studentStatus?.alternateName === 'erased')">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.RemovalInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalYear" [translate]="'Students.RemovalYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalYear" name="removalYear"
                       type="text" [value]="model?.removalYear?.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalPeriod" [translate]="'Students.RemovalPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalPeriod" name="removalPeriod"
                       type="text" [value]="'Periods.' + model?.removalPeriod.alternateName | translate ">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalDate" [translate]="'Students.RemovalDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalDate" name="removalDate" type="text"
                       [value]="model?.removalDate| date:'dd/MM/yyyy'">
              </div>
            </div>

            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalReason" [translate]="'Students.RemovalReason'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalReason" name="removalReason" type="text"
                       [value]="model?.removalReason" >
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalNumber" [translate]="'Students.RemovalNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalNumber" name="removalNumber" type="text"
                       [value]="model?.removalNumber ||  '-'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalDepartment" [translate]="'Students.RemovalDepartment'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalDepartment" name="removalDepartment" type="text"
                       [value]="model?.removalDepartment || '-'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalDecision" [translate]="'Students.RemovalDecision'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalDecision" name="removalDecision" type="text"
                       [value]="model?.removalDecision || '-'">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group text-dark">
                <label for="removalComments" [translate]="'Students.RemovalComments'"></label>
                <textarea [disabled]="true" class="form-control bg-white" id="removalComments" name="removalComments" type="text"
                          [value]="model?.removalComments || '-'"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.Info'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Students.studentIdentifier'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text"
                       [value]="model?.studentIdentifier">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Students.GivenName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="givenName" name="givenName" type="text"
                       [value]="model?.person?.givenName">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Students.FamilyName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="familyName" name="familyName" type="text"
                       [value]="model?.person?.familyName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="fatherName" [translate]="'Students.FatherName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="fatherName" name="fatherName" type="text"
                       [value]="model?.person?.fatherName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="motherName" [translate]="'Students.MotherName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="motherName" name="motherName" type="text"
                       [value]="model?.person?.motherName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="gender" [translate]="'Students.Gender'"></label>
                <input [disabled]="true" class="form-control bg-white" id="gender" name="gender" type="text"
                       [value]="model?.person?.gender ? model?.person?.gender : ''">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="nationality" [translate]="'Students.Nationality'"></label>
                <input [disabled]="true" class="form-control bg-white" id="nationality" name="nationality" type="text"
                       [value]="model?.person?.nationality?.name">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.studentInstituteIdentifier">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Students.studentInstituteIdentifier'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text"
                       [value]="model?.studentInstituteIdentifier">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.uniqueIdentifier">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Students.uniqueIdentifier'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text"
                       [value]="model?.uniqueIdentifier">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studentStatus" [translate]="'Students.Status'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studentStatus" name="studentStatus" type="text"
                       [value]="'StudentStatuses.' + model.studentStatus.alternateName | translate" [ngClass]="{
                              'text-success': model.studentStatus.alternateName ==='active',
                              'text-danger': model.studentStatus.alternateName ==='erased' || model.studentStatus.alternateName ==='suspended',
                              'text-primary': model.studentStatus.alternateName ==='graduated',
                              'text-dark': (model.studentStatus.alternateName ==='declared' || model.studentStatus.alternateName ==='null'),
                              'text-info': model.studentStatus.alternateName ==='candidate'}">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.Contact'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-12">
              <h4 [translate]="'Students.HomeAddressDetails'"></h4>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeCountry" [translate]="'Students.Country'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCountry" name="homeCountry" type="text"
                       [value]="model?.person?.homeCountry">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homePostalCode" [translate]="'Students.PostalCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homePostalCode" name="homePostalCode" type="text"
                       [value]="model?.person?.homePostalCode">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeCity" [translate]="'Students.City'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCity" name="homeCity" type="text"
                       [value]="model?.person?.homeCity">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeAddress" [translate]="'Students.Address'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeAddress" name="homeAddress" type="text"
                       [value]="model?.person?.homeAddress">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homePhone" [translate]="'Students.Phone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homePhone" name="homePhone" type="text"
                       [value]="model.person.homePhone">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="mobilePhone" [translate]="'Students.MobilePhone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="mobilePhone" name="mobilePhone" type="text"
                       [value]="model?.person?.mobilePhone">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="email" [translate]="'Students.Email'"></label>
                <input [disabled]="true" class="form-control bg-white" id="email" name="email" type="text"
                       [value]="model?.person?.email">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="alternateEmail" [translate]="'Students.AlternateEmail'"></label>
                <input [disabled]="true" class="form-control bg-white" id="alternateEmail" name="alternateEmail" type="text"
                       [value]="model?.person?.alternateEmail">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.RatingInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studyProgram" [translate]="'Students.studyProgram'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studyProgram" name="studyProgram" type="text"
                       [value]="model?.studyProgram.name">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.PersonalInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-12">
              <h4 [translate]="'Students.CitizenInformation'"></h4>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityCard" [translate]="'Students.IdentityCard'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityCard" name="identityCard" type="text"
                       [value]="model?.person?.identityCard">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityType" [translate]="'Students.IdentityType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityType" name="identityType" type="text"
                       [value]="model?.person?.identityType?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityDate" [translate]="'Students.IdentityDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityDate" name="identityDate" type="text"
                       [value]="model?.person?.identityDate | date:'dd/MM/yyyy'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityAuthority" [translate]="'Students.IdentityAuthority'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityAuthority" name="identityAuthority" type="text"
                       [value]="model?.person?.identityAuthority">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="SSN" [translate]="'Students.SSN'"></label>
                <input [disabled]="true" class="form-control bg-white" id="SSN" name="SSN" type="text"
                       [value]="model?.person?.SSN">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="SSNCountry" [translate]="'Students.SSNCountry'"></label>
                <input [disabled]="true" class="form-control bg-white" id="SSNCountry"
                       name="SSNCountry" type="text" [value]="model?.person?.SSNCountry?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="vatNumber" [translate]="'Students.VatNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="vatNumber" name="vatNumber" type="text"
                       [value]="model?.person?.vatNumber">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="vatOffice" [translate]="'Students.VatOffice'"></label>
                <input [disabled]="true" class="form-control bg-white" id="vatOffice" name="vatOffice" type="text"
                       [value]="model?.person?.vatOffice">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 [translate]="'Students.PersonalDetails'"></h5>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="birthDate" [translate]="'Students.BirthDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="birthDate" name="birthDate" type="text"
                       [value]="model?.person?.birthDate| date:'dd/MM/yyyy'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="birthPlace" [translate]="'Students.BirthPlace'"></label>
                <input [disabled]="true" class="form-control bg-white" id="birthPlace" name="birthPlace" type="text"
                       [value]="model?.person?.birthPlace">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 mb-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
  </div>
</div> 
