<div class="card" *ngIf="graduationEvent && graduationEvent.maximumAttendeeCapacity">
  <div class="card-header d-flex justify-content-between mt-3">
    <h5 class="mr-2 my-auto" [translate]="'Graduations.GraduateCapacity'"></h5>
  </div>
  <div class="card-body">
    <canvas baseChart
            height="180vh"
            [data]="[remainingAttendeeCapacity, currentCapacity]"
            [labels]="[('Graduations.Available' | translate), ('Graduations.Occupied' | translate)]"
            [options]="chartEventCapacityOptions"
            [legend]="chartEventCapacityLegend"
            [chartType]="chartEventCapacityType"
            [colors]="chartEventCapacityColours">
    </canvas>
  </div>
</div>
