<div class="row" *ngIf="lastError">
  <div class="alert alert-warning col-12" role="alert">
    <span [translate]="'E' + (lastError.status || 500) + '.title'"></span><br>
    <small *ngIf="lastError.status >= 0" [translate]="'E' + (lastError.status || 500) + '.message'"></small>
    <small *ngIf="lastError.status == null">{{lastError.message}}</small>
  </div>
</div>

<div *ngIf="!isLoading && !lastError" >
  <div *ngIf="!noOptions">
    <p translate="Students.Registration.NewRegistrationDsc"></p>
    <form class="col-md-6 mt-2">
      <div class="form-group">
        <label for="year">{{'Students.AcademicYear' | translate}}</label>
        <select #academicYear [(ngModel)]="selectedYear" class="custom-select" name="selectedYear" (change)="selectPeriod()">
          <option *ngFor="let opt of options | keyvalue: keyDescOrder" [ngValue]="opt.key"> {{opt.value.get('alternateName')}}
          </option>
        </select>
      </div>
      <div *ngIf="selectedYear" class="form-group">
        <label for="period">{{'Students.AcademicPeriod' | translate}}</label>
        <select [(ngModel)]="selectedPeriod" class="custom-select" name="selectedPeriod">
          <option *ngFor="let opt of options.get(selectedYear).get('periods')" [ngValue]="opt"> {{'Periods.' + opt.alternateName | translate}}</option>
        </select>
      </div>
    </form>
  </div>

  <div *ngIf="noOptions">
    <p translate="Students.Registration.NoOptions"></p>
  </div>
</div>