<div *ngIf="model">
  <div class="card" *ngIf=" model?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'StudyPrograms.Info'"></h5>
 </div>
    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group d-none row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DepartmentName'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.department.name}}</span>
        </div>
      </div>
      <ng-container *ngIf="model?.source">
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'StudyPrograms.ParentProgram'"></span>
          </div>
          <div class="col-7 text-dark">
            <a [routerLink]="['/study-programs', model.source.id, 'preview', 'general']">
              <span>{{model.source.name}}</span>
            </a>
          </div>
        </div>
      </ng-container>
      <div *if-location="'/students/semester'" class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Semesters'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.semesters}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Abbreviation'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.abbreviation}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Longis.AcademicYearAbbreviation'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.currentYear.alternateName}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Longis.AcademicPeriodAbbreviation'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ model?.currentPeriod?.locale?.name }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Supervisor'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ model?.supervisor?.familyName }} {{ model?.supervisor?.givenName }}</span>
        </div>
      </div>
      <div class="form-group row mb-1" *if-location="'/study-programs/studyLevel'">
        <div class="col-5">
          <span [translate]="'StudyPrograms.StudyLevel'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'StudyLevels.' + model.studyLevel.alternateName | translate}}</span>
        </div>
      </div>

      <div class="form-group row mb-1" *if-location="'/students/specialization'">
        <div class="col-5">
          <span [translate]="'StudyPrograms.SpecialtySelectionSemester'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.specialtySelectionSemester}}</span>
        </div>
      </div>
      <div class="form-group row mb-1" *if-location="'/students/specialization'">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DecimalDigitsDegree'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.decimalDigits}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.GradeScale'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.gradeScale.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DegreeDescription'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.info?.degreeDescription}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.HasFees'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'StudyPrograms.hasFees.' + model?.hasFees | translate}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Fees'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ model?.fees }} {{ model?.feeCurrency?.name}} <span *ngIf="model?.feeCurrency">({{ model?.feeCurrency?.alternateName}})</span></span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DiscountCategories'"></span>
        </div>
        <div class="col-7 text-dark" *ngIf="model.discountCategories && model.discountCategories.length else noCategories">
          <div *ngFor="let category of model.discountCategories">
            <li>{{ category.locale.name  }} - {{ category.label.name }}</li>
          </div>
        </div>
        <ng-template #noCategories><div class="col-7 text-dark">-</div>  </ng-template>
      </div>
    </div>
  </div>
</div>
