<ng-container class="card" *ngIf="studentStatus$ | async; let items">
  <div class="d-flex flex-wrap justify-content-left">
    <ng-container *ngFor="let item of items">
      <div class="p-1">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h2 class="card-title">{{item.total}}
              <h5 class="font-weight-normal"><span [translate]="'Courses.Students'"></span></h5>
            </h2>
            <h4 class="card-text">{{item.studentStatus | translate}}</h4>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
