<div class="row mt-4">
  <div class="col-lg-8 col-md-7 col-12">
    <div class="row">
      <div class="col">
        <app-graduations-overview-documents [graduationEvent]="graduationEvent"></app-graduations-overview-documents>
      </div>
      <div class="col">
        <app-graduations-overview-certificates [graduationEvent]="graduationEvent"></app-graduations-overview-certificates>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-5 col-12" *ngIf="graduationEvent">
    <app-graduations-overview-general [graduationEvent]="graduationEvent"></app-graduations-overview-general>
<!--
    <app-graduations-overview-capacity [graduationEvent]="graduationEvent"></app-graduations-overview-capacity>
-->
  </div>
  <router-modal></router-modal>
</div>
