<div class="row" *ngIf='departments'>
  <div class="row pt-4 pb-2">
    <div class="col-auto mr-auto">
        <h2 class="text-secondary">{{ departments.name }} <span></span></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">

    <div class="row">
      <div class="col-10">
        <ul class="mt-3 nav nav-tabs d-flex">
          <li class="nav-item">
            <a class="nav-link" [translate]="'Departments.TabsInfo.viewTitle'" [routerLink]="['general']"
              [routerLinkActive]="'active'"></a>
          </li>

          <li class="nav-item tab-buttons disabled ml-auto">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group mr-2" role="group">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-2"></div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>

