<div class="row mt-4" *ngIf="enrollmentEvent">
  <div class="col-lg-8 col-md-7 col-12">
    <div class="row">
      <div class="col">
        <app-enrollment-event-overview-documents [enrollmentEvent]="enrollmentEvent"></app-enrollment-event-overview-documents>
      </div>

    </div>
  </div>
  <div class="col-lg-4 col-md-5 col-12">

    <app-enrollment-event-requests [enrollmentEvent]="enrollmentEvent"></app-enrollment-event-requests>

  </div>
  <router-modal></router-modal>
</div>
