<router-outlet></router-outlet>

<div [hidden]="showRouterOutlet == true">
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="courses" [routerSearchState]>
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
            [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto pt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'StudyPrograms.Longis.Courses.Title'"></span><span class="font-xl text-secondary"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'StudyPrograms.Longis.Courses.TitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" *ngIf="this.courses && this.courses.selectable">
        <button [disabled]="!(this.courses && this.courses.selected && this.courses.selected.length)" class="btn btn-outline-indigo btn-lg" (click)="editMany()" type="button" [translate]="'Labels.EditLink'">
          Edit
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(this.courses && this.courses.selected && this.courses.selected.length)" class="dropdown-item" (click)="removeMany()" [translate]="'StudyPrograms.Longis.RemoveCourse'">Remove</button>
          <button [disabled]="!(this.courses)" class="dropdown-item" (click)="add()" [translate]="'StudyPrograms.Longis.AddCourse'">Add</button>
          <!-- <button [disabled]="!(this.courses && this.courses.selected && this.courses.selected.length)" class="dropdown-item" (click)="createClassesAction()" [translate]="'Courses.CreateClasses'">Create Classes</button> -->
          <!-- unsused actions -->
          <!-- <button [disabled]="!this.courses || !this.courses.selected || this.courses.selected.length !== 1" class="dropdown-item" (click)="copy()" [translate]="'StudyPrograms.CopyRules'">Copy</button> -->
          <!-- <button [disabled]="!this.courses || !this.courses.selected || !this.courses.selected.length || !this.copyRulesData" class="dropdown-item" (click)="paste()" [translate]="'StudyPrograms.PasteRules'">Paste</button> -->
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="courses.selectAny()" [translate]="'Tables.SelectAll'"></button>
          <button class="dropdown-item" (click)="courses.selectNone()" [translate]="'Tables.ClearSelection'"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #courses [autoLoad]="true" [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
